body {
  background-color: whitesmoke;
}

@mixin styleDefault {
  height: 60px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}

.divConvert {
  @include styleDefault;
  background-color: #94e5ff;
}

.divConvert2 {
  @include styleDefault;
  background-color: pink;
}

.divConvert3 {
  @include styleDefault;
  background-color: lightgreen;
}

.divConvert4 {
  @include styleDefault;
  background-color: orange;
  opacity: 0.75;
}

.divConvert5 {
  @include styleDefault;
  background-color: lightseagreen;
  opacity: 0.75;
}
