body {
  background-color: whitesmoke;
}

@mixin styleDefault {
  height: 80px;
  width: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}

.divConvert {
  @include styleDefault;
  background-color: #94e5ff;
}

.divConvert2 {
  @include styleDefault;
  background-color: pink;
}
